<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>exam</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">exam</ion-title>
    </ion-toolbar>
  </ion-header>
  <form (ngSubmit)="submitExam()">

    <div *ngFor="let question of questions; let i = index">
      <h2>{{ i + 1 }}. {{ question.questionText }}</h2>

      <div *ngIf="question.type === 'single'">
        <!--<ion-list>
          <ion-radio-group [compareWith]="compareWith" (ionChange)="handleChange($event)">
            @for (option of question.options; track option.id) {
              <ion-item>
                <ion-radio [value]="option">{{ option.text }}</ion-radio>
              </ion-item>
              }
          </ion-radio-group>
        </ion-list> -->
        <ion-radio-group [value]="answers[i]" (ionChange)="onSelect(i, $event.detail.value, false)">
          <ion-item *ngFor="let option of question.options; let j = index">
            <ion-label>{{ option.text }}</ion-label>
            <ion-radio slot="start" [value]="j"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>

      <div *ngIf="question.type === 'multiple'">
        <ion-item *ngFor="let option of question.options; let j = index">
          <ion-checkbox slot="start"
            (ionChange)="onSelect(i, j, true)">
          </ion-checkbox>
          <ion-label>{{ option.text }}</ion-label>
        </ion-item>
      </div>

      <ion-item-divider></ion-item-divider>
    </div>

    <ion-button expand="full" type="submit" class="ion-margin-top">
      Submit Exam
    </ion-button>

  </form>
</ion-content>
